/* Загальний стиль сторінки */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
  text-align: center;
  color: #333;
}

/* Стиль для інпуту і кнопки */
#datetime-picker {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

#start-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #394858;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#start-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#start-btn:hover:not(:disabled) {
  background-color: #536579;
}

/* Стиль для таймера */
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.field {
  text-align: center;
}

.value {
  display: block;
  font-size: 48px;
  font-weight: bold;
  color: #394858;
}

.label {
  font-size: 16px;
  color: #666;
}

/* Для мобільних пристроїв */
@media (max-width: 768px) {
  #datetime-picker {
    width: 100%;
    margin-bottom: 10px;
  }

  #start-btn {
    width: 100%;
    padding: 10px;
  }

  .timer {
    flex-direction: column;
    gap: 10px;
  }
}